*{
    margin: 0;
    padding:0;
}
body{
    background-color: #548687;
    text-align: center;
}
h1{
    background-color: rgb(42, 10, 122);
    color: antiquewhite;
    height: 5rem;
    line-height: 5rem;
}


.choices{
    height: 200px;
    width: 165 px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices:hover{
     opacity: 0.5;
    cursor: pointer;
    /* background-color: rgb(3, 11, 11); */
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
display: flex;
justify-content: center;
align-items: center;
gap:5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 2rem;
     margin-top: 3rem;
     gap:5rem;
}
#userscore,#compscore{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: rgb(32, 20, 86);
    color: antiquewhite;
    /* height: 5rem; */
    font-size: 2rem;
    margin-top: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 40px;
}